@import "../app.component.css";

/* .bodywidth90{
    width: 90vw;
} */

.aligncenter{
    align-items: center;
}

.centerContent {
  /* border: 5px solid; */
  margin: auto;
  width: 90%;
  padding: 10px;
}